@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Dana*/
  @font-face {
    font-family: "danaNormal";
    src: url(../public/fonts/Dana/DanaFaNum-Normal.woff2) format("woff2");
  }
  @font-face {
    font-family: "danaBold";
    src: url(../public/fonts/Dana/DanaFaNum-DemiBold.woff2) format("woff2");
  }
  /* --- */
  /* Morabaa */
  @font-face {
    font-family: "morabbaNormal";
    src: url(../public/fonts/Morabba/Morabba-Normal.woff2) format("woff2");
  }
  @font-face {
    font-family: "morabbaBold";
    src: url(../public/fonts/Morabba/Morabba-Bold.woff2) format("woff2");
  }
}
